<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300
hover:bg-gray-700 hover:text-white" -->
<%= link_to "Dashboard",
dashboard_path,
class:
  "block md:inline rounded-md bg-gray-900 px-3 py-2 text-base md:text-sm font-medium text-white",
aria_current: "page" %>
<a
  href="#"
  class="
    block md:inline rounded-md px-3 py-2 text-base md:text-sm font-medium
    text-gray-300 hover:bg-gray-700 hover:text-white
  "
>Team</a>
<a
  href="#"
  class="
    block md:inline rounded-md px-3 py-2 text-base md:text-sm font-medium
    text-gray-300 hover:bg-gray-700 hover:text-white
  "
>Projects</a>
<a
  href="#"
  class="
    block md:inline rounded-md px-3 py-2 text-base md:text-sm font-medium
    text-gray-300 hover:bg-gray-700 hover:text-white
  "
>Calendar</a>
